PORT=3000
APP_TITLE=Azure TODO App
DATA_MODE=file
DATA_FILE_PATH=./data/tasks.json

# Cosmos DB
COSMOS_ENDPOINT=
COSMOS_KEY=
COSMOS_DATABASE_ID=TodoAppDb
COSMOS_CONTAINER_ID=Tasks

# Key Vault
KEY_VAULT_URL=
KEY_VAULT_SECRET_NAME=app-message
DEMO_SECRET_FALLBACK=Secret local de démonstration

# Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
BLOB_CONTAINER_NAME=exports
